<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">Our Products</h2>
        <p class="section-subtitle">
          Micrographics has the best deals on the latest Nvidia Graphics Cards & AMD Graphics Cards and more available at your local Micro Center Computer Store
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-html5 fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Deals for members</h4>
          <p>
            Our store is open for bulk and retail sales of the best quality graphic video cards with our membership
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Custom PC Build</h4>
          <p>
            We offer services to build your own PC with our graphic cards free of charge
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tablet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Social Media</h4>
          <p>
            Follow us on social media to get exclusive offers and deals!
          </p>
        </div>
      </div>
      <!--End of Icon Block-->


    </div>
  </div>
</section>
<!--End of Introduction-->
