<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h3>YOUR CHOICE</h3>
      <h2 class="section-title">We have the right products for you</h2>
    </div>

    <!--Pricing Block-->
    <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <h3>NVIDIA</h3>
        <p class="pricing-sub">T1000</p>
        <div class="pricing">
          <div class="price"> <img
            src="../assets/images/banner-images/NVIDIA.jpg"
          /> </div>
          <p>low profile solution that delivers the full-size features, performance and capabilities required by demanding professional applications in a compact graphics card</p>
        </div>
        <ul>
          <li>Four Mini DisplayPort 1.4 connectors with latching mechanism</li>
          <li>DisplayPort with audio</li>
          <li>NVIDIA RTX Desktop Manager software</li>
          <li>NVIDIA RTX Experience</li>
          <li>NVIDIA Mosaic technology</li>
        </ul>
        <a href="#" class="button">ADD TO CART</a>
      </div>
    </div>

    <div
      class="pricing-block featured col-3 wow fadeInUp"
      data-wow-delay="0.6s"
    >
      <div class="pricing-block-content">
        <h3>Dell</h3>
        <p class="pricing-sub"> Quadro P1000</p>
        <div class="pricing">
          <div class="price"><img src ="../assets/images/banner-images/dell.jpg" /></div>

        </div>
        <ul>
          <li>DisplayPort with Audio</li>
          <li>NVIDIA nView Desktop Management Software</li>
          <li>HDCP 2.2 Support, with NVIDIA Mosaic</li>
          <li>Forum Support</li>
          <li>2 years free updates</li>
        </ul>
        <a href="#" class="button">BUY TODAY</a>
      </div>
    </div>
    <!--End Pricing Block-->

    <!--Pricing Block-->
    <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
      <div class="pricing-block-content">
        <h3>Amd</h3>
        <p class="pricing-sub">Radeon RX 6000</p>
        <div class="pricing">
          <div class="price"><img src ="../assets/images/banner-images/AMD.jpg" /> </div>
          <p>featuring the breakthrough AMD RDNA™ 2 architecture and engineered to take on next generation gaming with supercharged performance and breathtaking visuals.</p>
        </div>
        <ul>
          <li>Radeon Pro WX 2100 2GB</li>
          <li> PCI-Express x16,</li>
          <li>2x Mini-DisplayPort</li>
          <li>1x DisplayPort</li>
          <li>Lifetime free updates</li>
        </ul>
        <a href="#" class="button">BUY TODAY</a>
      </div>
    </div>
    <!--End Pricing Block-->
  </div>
</section>
